.swiper {
    width: 100%;
    height: 100%;
    position: inherit;
}

.swiper-slide {
    /* text-align: center;
    Center slide text vertically
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    position: initial; */
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next {
    opacity: 0.4;
    color: black;
    right: 7px;
    justify-content: flex-end;
}

.swiper-button-next.swiper-button-disabled {
    opacity: 0;
    justify-content: flex-end
}

.swiper-button-prev {
    opacity: 0.4;
    left: 5px;
    color: black;
    justify-content: flex-end;
}

.swiper-button-prev.swiper-button-disabled {
    opacity: 0;
    justify-content: flex-end;
}

.block__tiitleText {
    z-index: -2;
    top: -31px;
    left: 0;
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100vw;
    height: 65vh;
    font-weight: 400;
    font-size: 96px;
    position: initial;
}

.right {
    display: flex;
    position: absolute;
    bottom: 30px;
    right: 70px;
}

.left {
    display: flex;
    position: absolute;
    bottom: 30px;
    float: left;
}